<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partial/head") %>
</head>

<body style="background-color: #F4F5F7;">
    <%- include("../partial/header") %>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid">
                    <button class="btn" id="sidebarToggle"><i class="fa-solid fa-bars"></i></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                            <div class="input-group mb-4 mb-lg-0">
                                <input type="text" class="form-control" placeholder="Search..." aria-label="Search..."
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
                            </div>
                            <li class="nav-item dropdown mb-3 mb-lg-0">
                                <div class="d-flex align-content-center">
                                    <div class="rounded-circle d-inline-block text-white fw-bold fs-lg-5 text-center ms-lg-5" style="background-color: #0d6efd; width: 38px; height: 38px; padding: 7px;">R</div>
                                    <a class="nav-link dropdown-toggle ms-2" id="navbarDropdown" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Moch. Raditya
                                        Aulya
                                        Aramdhan</a>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="#!">Profiasdle</a>
                                            <a class="dropdown-item" href="#!">Setting</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#!">Logout</a>
                                        </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="container">
                <%- body %>
            </div>
        </div>
        </div>

        <%- include("../partial/footer") %>
            <%- include("../partial/script") %>
</body>

</html>