<p class="pt-3 fw-bold"><b>Cars > List Car ></b> <span class="text-muted">Add New Car</span></p>
<h3 class="fw-bold" style="margin-top: 30px;">Add New Car</h3>
<form action="addNewCar" class="mt-4 p-4 mb-4" style="background-color: rgb(255, 255, 255); border-radius: 20px;">
    <div class="row d-flex align-items-center ">
        <label for="nameCar" class="form-label fw-bold col-2">Name <span class="text-danger">*</span></label>
        <div class="col-5">
            <input type="text" class="form-control" placeholder="Avanza">
        </div>
    </div>
    <div class="row d-flex align-items-center mt-4">
        <label for="rentCar" class="form-label fw-bold col-2">Rent Per Days <span class="text-danger">*</span></label>
        <div class="col-5">
            <input type="text" class="form-control" placeholder="Rp 0.-">
        </div>
    </div>
    <div class="row d-flex align-items-center mt-4">
        <label for="sizeCar" class="form-label fw-bold col-2">Size <span class="text-danger">*</span></label>
        <div class="col-5">
            <div class="input-group">
                <select class="form-select" id="inputGroupSelect02">
                    <option selected disabled hidden>Pilih Ukuran</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                <label class="input-group-text" for="inputGroupSelect02">Options</label>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <label for="nameCar" class="form-label fw-bold col-2">Photo <span class="text-danger">*</span></label>
        <div class="col-5">
            <div class="input-group mb-2">
                <input type="file" class="form-control" id="inputGroupFile02">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
            <p class="text-muted">File size max. 2MB</p>
        </div>
    </div>
    <a href="" class="btn btn-primary">Save</a>
    <a href="/" class="btn btn-outline-primary ms-2">Cancel</a>
</form>