<p class="pt-3 fw-bold"><b>Cars > </b><span class="text-muted">List Car</span></p>
<h3 class="fw-bold" style="margin-top: 30px;">List Car</h3>
<button class="btn btn-primary float-end" onclick="window.location.href='/add'"><i class="fa-solid fa-plus me-2"></i>Add New Car</button>
<button class="btn btn-outline-primary active">All</button>
<button class="btn btn-outline-primary ms-2">Small</button>
<button class="btn btn-outline-primary ms-2">Medium</button>
<button class="btn btn-outline-primary ms-2">Large</button>
