<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end" id="sidebar-wrapper" style="background-color: #0d6efd;">
        <div class="sidebar-heading text-white" style="background-color: #0d6efd;">
            <i class="fa-solid fa-car me-3"></i>Dasboard
        </div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold" href="#!" style="background-color: #0d6efd; color: #fefefe;">Cars</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 fw-bold" href="/" style="background-color: #CFD4ED; color: #0d6efd;">List Cars</a>
        </div>
    </div>
